{% extends 'base.html.twig' %}

{% block title %}Hello PublishArticleController!{% endblock %}

{% block body %}
<style>
    div.postEditor{
        display: flex;
        flex-direction: column;
        align-content: center;
        height: 100vh;
        border: 1px solid black;
    }
    form{
        width: 60%;
        height: 80%;
        border-radius: 10px;
        box-sizing: border-box;
        overflow: hidden;
        border: 2px solid black;
        padding: 40px 20px;
        margin: auto;
    }
    input{
        width: 98.5%;
    }
</style>
    <div class="postEditor">
        <form action="" method="GET">
            <label for="">Titre de l'article</label><br>
            <input type="text">
            <br><br>
            <textarea name="" id="article" cols="30" rows="10"></textarea>
            <br>
            <br>
            <input type="submit">
        </form>
    </div>

{% endblock %}
{% block javascript %}
    <script src={'ckeditor/ckeditor.js'}></script>
    <script>
        CKEDITOR.replace('article');
    </script>
{% endblock %}

