div.Main{
    width: 100%;
    height: 100%;
    padding-left: 50px;
    font-family: Arial;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /*justify-content: space-evenly;*/
}
div.pagiContainer{
    justify-self: flex-end;
}

div.main-logo{
    display: flex;
    padding: 20px;
    border: 2px solid #707070;
    border-radius: 20px;
    background-color: white;
}

div.main-logo img{
    width: 15%;
    border-radius: 25px;
    border: 1px solid #707070;
    margin-right: 20px;

}

a:hover, a:visited, a:link, a:active{
    text-decoration: none;
    color: #12549B;
}