div.div-filter{
    min-width: 270px;
    width: 20vw;
    height: 100%;
    background-color: white;
}
form.filter {
    display: flex;
    flex-direction: column;
    font-family: Arial Rounded MT;
    color: #12549B;
    margin: 0px 10px;
}
form.filter label{
    margin-top: 50px;
    margin-left: 10px;
    font-size: 0.9em;
}

form.filter div {
    margin: 0px 10px;
}
form.filter input{
    height: 40px;
    margin: 10px 10px;
    border-radius: 7px;
    border-color: #9D9D9D;
    background-color: #F7F7F7;
    /*color: rgba(153, 153, 153, 0.6);*/
    font-family: Arial Rounded MT;
    font-size: 15px;
    background-repeat: no-repeat;
    background-size: 22px;
    background-position: 8px center;
    padding-left: 37px;
}
input.secteur{
    background-image: url("Images_css/search.png");
}

/*noinspection ALL*/
form.filter input.region {
    background-image: url("Images_css/location.png");
    background-size: 18px;
}

form.filter input.entreprise {
    background-image: url("Images_css/bag.png");
    background-size: 22px;
}
form.filter button{
    height: 40px;
    width: 120px;
    border-radius: 10px;
    border-color: #9D9D9D;
    margin: 20px auto auto;
    font-family: Arial Rounded MT;
    background-color: #12549B;
    color: white;
    font-size: 15px;
}
