div.main{
    width: 98vw;
}


div.Aidus{
    box-sizing: border-box;
    font-size:40px;
    font-family: Maiandra GD;
    color: #12549B;
    margin-left: 60px;
}
div.Aidus span{
    font-size:70px;
    font-family: Lucida Handwriting;
    font-style: italic;
}

nav{
    height: 15%;
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    padding: 0px;
    box-sizing: border-box;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
}
ul.Offres{
    box-sizing: border-box;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 40%;
    color: #9D9D9D;
    font-family: Arial;
}
ul.Offres a:link, ul.Offres a:visited{
     color: #9D9D9D;
    text-decoration: none;
 }
ul.Offres a:active{
     color: #12549B;
    text-decoration: none;
 }
ul.Offres a:hover{
    color: #12549B;
    text-decoration: none;

}

div.Profile{
    display: flex;
    align-items: center;
    position: relative;
    margin-right: 25px;
}

div.Profile img[alt="photo-profile"]{

    width: 50px;
    border: 2px solid #707070;
    border-radius: 150px;
    margin-left: 30px;

}
div.Profile .hidden{

    position: absolute;
    top: 30px;
    right: 50px;
    visibility: hidden;

}
div.Profile .hidden ul{
    box-sizing: border-box;
    font-weight: bold;
    list-style-type: none;
    border: 2px solid #707070;
    color: #9D9D9D;
    font-family: Arial;
    padding: 0px;
    border-radius: 15px;
    background-color: white;
    width: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

div.Profile .Details li{
    margin:0px;
    border-bottom: 1px solid #707070;
    padding: 15px 10px;
}

div.Profile .hidden .Ajouter{

    background-image: url("Images_css/add.png");

}

div.Profile .hidden .Profile{

    background-image: url("Images_css/profile.png");

}

div.Profile .hidden .Parametres{

    background-image: url("Images_css/settings.png");

}

div.Profile .hidden .Deconnexion{

    background-image: url("Images_css/logout.png");

}

div.Profile .hidden .Ajouter, div.Profile .hidden .Profile, div.Profile .hidden .Parametres, div.Profile .hidden .Deconnexion{
     background-size: 20px;
     background-position: 10px center;
     background-repeat: no-repeat;
     padding-left: 45px;
 }
a[href="/profile"]{
    color: #12549b;
    font-weight: bold;
}
